<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xô Aedes</title>
    <link rel="stylesheet" href="/css/layoutPadrao.css"><!--CSS LAYOUT PADRÃO-->
    <link rel="stylesheet" href="/css/home.css"><!--CSS HOME-->
    <link rel="stylesheet" href="/css/cadastroCidadao.css"><!--CSS CADASTRO CIDADAO-->
    <link rel="stylesheet" href="/css/geral.css"><!--CSS QUE AFETARÁ TODAS AS PÁGINAS-->
    <link rel="stylesheet" href="/css/menuCidadao.css"><!--CSS MENU CIDADAO-->
    <link rel="stylesheet" href="/css/inform.css"><!--CSS INFORM-->
    <link rel="stylesheet" href="/css/loginEscola.css"><!--CSS ESCOLA-->
    <link rel="stylesheet" href="/css/loginSaude.css"><!--CSS SAUDE-->
    <link rel="stylesheet" href="/css/informacoes.css"><!--CSS INFORMACOES-->
    <link rel="stylesheet" href="/css/alerta.css"><!--CSS ALERTA-->
    <link rel="stylesheet" href="/css/inform_alerta.css">
    <link rel="stylesheet" href="/css/historico.css">

    <!--IMPORTANDO FONTE POPPINS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css"><!--IMPORTANDO ÍCONES-->

</head>