#inform_alerta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inform_alerta input{
    display: none;
}

#inform_alerta div{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inform_alerta div img{
    width: 90%;
    position: relative;
}

#inform_alerta article{
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

#inform_alerta article p{
    text-align: justify;
}

#inform_alerta button{
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #0084ff;
    color: white;
    margin-top: 20px;
    transition: all 0.4s ease;
    width: 300px;
    cursor: pointer;
}