<%- include('../layouts/header') %>
<body id="layoutPadrao">
    <!--CABEÇALHO-->
    <div id="cabecalho">
        <header>
            <div style="display:flex; justify-content:center; align-items:center;" id="titulo_cotainer">
                <h1>HISTÓRICO DE AÇÕES</h1>
            </div>
            <p><%= equipe_saude %></p>
        </header>


        <div class="voltar"><a href="/"><i class="fa-solid fa-house"></i></a></div>


        <!--Histórico-->
        <main class="historico">
            <div class="historico_container">
                <div>
                    <div class="pesquisarContainer">
                        <input type="text" name="cpf_cidadao" id="cpf_pesquisa" placeholder="Digite o CPF para busca:" maxlength="14" value="" required>
                        <div class="lupa_container">
                            <div class="desable_btn" id="desable_btn"></div>
                            <div id="pesquisar" class="lupa">  
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div> 
                        </div>
                    </div>
    
                </div>
                <h3 id="mes"></h3>
                <div class="containerTable">
                    <table>
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>DATA/HORA</th>
                                <th><img src="/img/imgs_checklist/img1.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img2.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img3.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img4.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img5.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img6.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img7.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img8.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img9.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img10.jpg" alt="" width="20px"></th>
                                <th><img src="/img/imgs_checklist/img11.jpg" alt="" width="20px"></th>
                            </tr>
                        </thead>
    
                        <tbody id="corpo_historico_saude">
                            
                        </tbody>
                    </table>
                </div>
    
                <p id="msg_pesquisa" style="padding-top:20px;"></p>
            </div>
    
            
            
    
            
        </main>
    </div>






   



    <!--RODAPÉ-->
    <footer>
        <div>
            <img src="/img/logo-prefeitura.png" alt="Logomarca prefeitura" width="300px" style="margin-top: 20px;">
            <p style="margin-top: 10px; color:black;">Xô Aedes</p>
        </div>
    </footer>
</body>

<script type="module" src="/js/scripts_saude/historico_saude.js"></script>
<%- include('../layouts/footer') %>